$mainBlueGradiant: linear-gradient(to bottom,#1a2c5c 0,#020e24 100%);
$cardGradiant: linear-gradient(to bottom, #305fd8 0, #0d2a5f 100%);; //bt4 primary color replaced by bt3
$mainColor: #333;
$mainOrange: rgb(211,103,26);
$primary: #446e9b; //bt4 primary color replaced by bt3
$secondary: #eaeaea;
$gold: #ffbf00;