

/*************************************
Build the card-outer and rotate on hover
**************************************/

.card-outer {
	width: 300px;
	margin: 0 auto;
    display: block;
    position: relative;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	@include fromSmall {
		width: 260px;
		margin: 30px auto;
	}
}

.card-inner {
	width: 300px;
	height: 539px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
	@include fromSmall {
	width: 260px;
	}
}

.card-inner:hover {
	-webkit-transform: rotateY(-78deg) translateZ(20px);
	-moz-transform: rotateY(-78deg) translateZ(20px);
	transform: rotateY(-78deg) translateZ(20px);
}

/*************************************
Transform and style the two planes
**************************************/

.card-inner .first-side, 
.card-inner .second-side {
	position: absolute;
	height: 529px;
	width: 300px;
	@include fromSmall {
	width: 260px;
	}
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	img {
		max-width: 80%;
	}
}

.card-inner .first-side  {
	transform: translateZ(150px);
	@include fromSmall {
		transform: translateZ(130px);
	}
}

.card-inner .second-side {
	transform: rotateY(90deg) translateZ(150px);
	@include fromSmall {
		transform: rotateY(90deg) translateZ(130px);
	}
}

/*************************************
Shadow beneath the 3D object
**************************************/

.card-inner::after {
	content: '';
	width: 260px;
	height: 260px;
	position: absolute;
	bottom: 10px;
    left: 0px;
	box-shadow: 0 30px 50px rgba(0,0,0,0.3);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(130px);
	-moz-transform: rotateX(90deg) translateY(130px);
	transform: rotateX(90deg) translateY(130px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .card-inner:hover::after {
	box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

/*************************************

**************************************/

.second-side header {
	color: #FFF;
	padding: 7px 10px;
	font-weight: bold;
	height: 195px;
	background-size: contain;
	background-repeat: no-repeat;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.second-side header h1 {
	margin: 0 0 2px;
	font-size: 1.4em;
}

.second-side header .rating {
	border: 1px solid #FFF;
	padding: 0px 3px;
}

.second-side p {
}

/*************************************
Generate "lighting" using box shadows
**************************************/

.card-inner .first-side,
.card-inner .second-side,
.card-inner .second-side header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .card-inner .first-side {
	box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.csstransforms3d .card-inner:hover .first-side {
	box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.csstransforms3d .card-inner .second-side, 
.csstransforms3d .card-inner .second-side header {
	box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .card-inner:hover .second-side, 
.csstransforms3d .card-inner:hover .second-side header {
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

/*************************************
first-sides and still images
**************************************/

/*************************************
Fallback
**************************************/
.no-csstransforms3d .card-inner .first-side, 
.no-csstransforms3d .card-inner .second-side {
	position: relative;
}

/*************************************
Media Queries
**************************************/
@media screen and (max-width: 60.75em){
	.card-outer {
		margin: 30px auto 40px;
	}
}

