
.navbar-nav {
    .scrollToTopIcon {
        opacity: 0;
        &-visible {
            opacity: 1;
        }
    }
    .nav-item-bottom {
    background-color: $primary;
    transition: background-color .5s, opacity .5s ;
    border-right: solid 1px white;
    
    &:last-child {
        border-right: none;
    }
    &:hover {
        background-color: darken($primary, 10%);
    }

    }
}